{% extends 'base.html.twig' %}

{% block title %}Hello VMController!{% endblock %}

{% block body %}

<div>
    <h1>Créer machine virtuelle</h1>
    <a href="{{ path('app_create_vm') }}">Create Virtual Machine</a>

</div>
{% endblock %}
